language: go

go:
  - 1.9.x
  - 1.10.x

install:
  - # Do nothing. This is needed to prevent default install action "go get -t
  - # v ./..." from happening here (we want it to happen inside script step).

script:
  - go get -u -v golang.org/x/tools/cmd/goimports
  - go get -t -v ./...
  - goimports -w .
  - git diff --exit-code
  - go tool vet .
  - go test -v -race ./...
